.o_acs_dashboard_graph > .o_dashboard_graph.o_graph_barchart > svg {
  height: 200px;
  overflow: visible;
}
.o_acs_dashboard_graph > .o_dashboard_graph.o_graph_linechart > svg {
  height: 200px;
}
.o_acs_dashboard_graph > .o_dashboard_graph.o_graph_linechart > svg g.nv-x.nv-axis {
  transform: translateY(175px);
}

#acs_hms_dashboard {
  min-width: 99%;
  text-align: center;
  display: table-cell;
}
.acs_block {
  float: left;
  height: 150px;
}
.acs-footer {
  padding: 12px 15px !important;
}
.big-time-number {
  font-size: 1.5em;
  color: white;
}
.big-acs-number {
  color: white;
}
.acs-birthday-box {
  margin-top: 2%;
}

/*Primary*/
.card-primary {
  border-color: #6200FF;
}
.card-primary > .card-heading {
  border-color: #6200FF;
  color: white;
  background-color: #6200FF;
}
.card-primary > a {
  color: #6200FF;
}
  
/*Info*/
.card-info {
  border-color: #0B9EBA;
}
.card-info > .card-heading {
  border-color: #0B9EBA;
  color: white;
  background-color: #0B9EBA;
}
.card-info > a {
  color: #0B9EBA;
}

/*warning*/
.card-warning {
  border-color: #867436;
}
.card-warning > .card-heading {
  border-color: #867436;
  color: white;
  background-color: #867436;
}
.card-warning > a {
  color: #867436;
}
 
/*Yellow*/
.card-yellow {
  border-color: #f0ad4e;
}
.card-yellow > .card-heading {
  border-color: #f0ad4e;
  color: white;
  background-color: #f0ad4e;
}
.card-yellow > a {
  color: #f0ad4e;
}

/*Red*/
.card-red {
  border-color: #d9534f;
}
.card-red > .card-heading {
  border-color: #d9534f;
  color: white;
  background-color: #d9534f;
}
.card-red > a {
  color: #d9534f;
}

/*Green*/
.card-green {
  border-color: #5cb85c;
}
.card-green > .card-heading {
  border-color: #5cb85c;
  color: white;
  background-color: #5cb85c;
}
.card-green > a {
  color: #5cb85c;
}

.acs-card {
  overflow: hidden;
  word-wrap: normal;
}

.acs-card > .card-heading {
  padding: 10px 15px;
}

.acs-card:hover .value {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}
.acs-card:hover .title {
  transform: scale(0.85);
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -ms-transform: scale(0.85);
  -o-transform: scale(0.85);
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}
.acs-card:hover .stat-icon {
  transform: scale(1.5) rotate(60deg) translateX(30px) translateY(-15px);
  -webkit-transform: scale(1.5) rotate(60deg) translateX(30px) translateY(-15px);
  -moz-transform: scale(1.5) rotate(60deg) translateX(30px) translateY(-15px);
  -ms-transform: scale(1.5) rotate(60deg) translateX(30px) translateY(-15px);
  -o-transform: scale(1.5) rotate(60deg) translateX(30px) translateY(-15px);
  opacity: 0.4;
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
}
.acs-card .stat-icon {
  display: inline-block;
  float: left;
  font-size: 3.125em;
  line-height: 40px;
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
}
.acs-card .value {
  font-size: 1.875em;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}
.acs-card .title {
  color: white;
  font-size: 1.125em;
  margin-top: -5px;
  margin-right: 0px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}
.acs-hr {
   margin-top: 14px;
   margin-bottom: 10px;
   border-top: 1px solid white;
}
.small {
   font-size: 1.125em !important;
}

.acs_medium_font {
   color: white;
   font-size: 1.250em !important;
}