.acs-webcam {
    margin-top: 64px;
}

.acs-webcam-canvas {
    width: 480px;
    height: 370px;
    border:20px solid #ccc;
    background:#eee;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.acs-webcam-video {
    width: 480px;
    height: 370px;
    border:20px solid #ccc;
    background:#eee;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}